/* Reset de estilos padrão do navegador */
body, ul {
  margin: 0;
  padding: 0;
  

  
}

header {
  background-color: rgb(82, 182, 154);
  font-size: 120%; /* Aumenta o tamanho da fonte em 20% em relação ao tamanho padrão */
  font-weight: bold;
}



main {
  background-color: rgb(232, 252, 207);
}
*estilizando a barra de rolagem*/
body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #011E11;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #12FF46;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

/* Estilizando a navbar */
.navbar {
  background-color: rgb(82, 182, 154);
  
  width: 100%
}

.recicle{
  background-color: rgb(232, 252, 207);
  padding: 5%;
  font-family: 'Roboto', sans-serif;
  margin-right: 0;
  text-align: left;

}

.cards {
  background-color: rgb(181, 228, 140);

}

.text-center {
  text-align: justify;
}

