/* Reset de estilos padrão do navegador */
body, ul {
  margin: 0;
  padding: 0;
  

  
}

header {
  background-color: green;
  font-size: 120%; /* Aumenta o tamanho da fonte em 20% em relação ao tamanho padrão */
  font-weight: bold;
  
}
header img{
  border-radius: 1000px;
  padding: 5px;
  border: 1px solid #fff ;
  background-color: #fff;
}



main {
  background-color: rgb(232, 252, 207);
}
body::-webkit-scrollbar {
  width: 8px;          
}

body::-webkit-scrollbar-track {
  background: transparent; 
}

body::-webkit-scrollbar-thumb {
  background-color: #8d8d8d;   
  border-radius: 20px;   
}

/* Estilizando a navbar */
.navbar {
  background-color: rgb(82, 182, 154);
  
  width: 100%
}

.recicle{
  background-color: rgb(232, 252, 207);
  padding: 5%;
  font-family: 'Roboto', sans-serif;
  margin-right: 0;
  text-align: left;

}

.cards {
  background-color: rgb(181, 228, 140);

}

.text-center {
  text-align: justify;
}

