@font-face{
    font-family: 'DMsans'; /* Escolha um nome para a sua fonte */
  src: url(fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf) format('woff2'), /* Formato recomendado para a web */
       /* url('caminho-para-o-arquivo-fonte.woff') format('woff'); Formato de fallback para compatibilidade */
  /* Você pode adicionar outras variações da sua fonte aqui, como font-weight e font-style */
}

html,

.centralizar{
    display: flex;
    justify-content: center;
}
.controller{
    display: flex;
    align-items: center;
}
.container-dashboard {
    display: flex;
    height: 100%;
}
aside{
    flex: 1;
    padding: 10px;
    background-color: #054712;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    overflow: auto;
    color: aliceblue;
    font-family: 'DM Sans', sans-serif;
}
aside h2{
    margin-bottom: 5px;
}
aside::-webkit-scrollbar{
    width: 5px;
}
aside::-webkit-scrollbar-thumb{
    background-color: #80e293;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /* border: 3px solid orange;  creates padding around scroll thumb */
}
.container-img img{
    border-radius: 5px;
    margin-top: 1.5rem;
    width: 85%;
}
.input-aside{
    width: 95%;
    height: 1.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
}

.selecao-materiais{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #3f9650;
    border-radius: 5px;
}
.selecao-materiais .controller{
    margin-top: 0.5rem;
}

aside span{
    font-size: 18px;
}
#enviarAside button{
    width: 80%;
    height: 3rem;
    margin-top:3rem;
    font-size: 18px;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

main{
    flex: 3;
    
}


/* Reset de estilos padrão do navegador */
body, ul {
    margin: 0;
    padding: 0;
    
  }
  
  /*estilizando a barra de rolagem*/
  body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #011E11;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #12FF46;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }
  
  /* Estilizando a navbar */
  .navbar {
    /* background-color: ;  */
    /* Cor de fundo da navbar */
    width: 100%
  }
  
  .navbar ul {
    list-style: none; /* Remover marcadores de lista */
    display: flex; /* Exibir os itens da lista em linha */
    justify-content: left; /* Colocar itens na direita  horizontalmente */
    padding: 1% 0; /* Espaçamento interno superior e inferior */
    font-family: 'All the Way to the Sun', sans-serif;
    font-size: 20px;
    
                                                
  }
  
  .navbar li {
    margin: 0 10%; /* Espaçamento horizontal entre os itens da lista */
  }
  
  .navbar a {
    text-decoration: none; /* Remover sublinhado dos links */
    color: #12FF46; /* Cor do texto dos links */
    font-weight: bold; /* Estilo de fonte negrito */
  }
  
  body{
    background-color: #011E11;
    width:100%
  }

#gmp-map {
    height: 90%;
}

