@font-face{
    font-family: 'DMsans'; /* Escolha um nome para a sua fonte */
  src: url(fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf) format('woff2'), /* Formato recomendado para a web */
       /* url('caminho-para-o-arquivo-fonte.woff') format('woff'); Formato de fallback para compatibilidade */
  /* Você pode adicionar outras variações da sua fonte aqui, como font-weight e font-style */
}

html,
body{
    font-family: 'DMsans';
    height: 100%;
    margin: 0;
    padding: 0;
}
.centralizar{
    display: flex;
    justify-content: center;
}
.controller{
    display: flex;
    align-items: center;
}
.container-dashboard {
    display: flex;
    height: 100%;
}
aside{
    flex: 1;
    padding: 10px;
    background-color: #2F8240;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: auto;
}
aside h2{
    margin-bottom: 5px;
}
aside::-webkit-scrollbar{
    width: 5px;
}
aside::-webkit-scrollbar-thumb{
    background-color: #80e293;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /* border: 3px solid orange;  creates padding around scroll thumb */
}
.container-img img{
    border-radius: 5px;
    margin-top: 1.5rem;
    width: 85%;
}
.input-aside{
    width: 95%;
    height: 1.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
}

.selecao-materiais{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #3f9650;
    border-radius: 5px;
}
.selecao-materiais .controller{
    margin-top: 0.5rem;
}

aside span{
    font-size: 18px;
}
#enviarAside button{
    width: 80%;
    height: 3rem;
    margin-top:3rem;
    font-size: 18px;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

main{
    flex: 3;
    
}
.nav{
    height: 10%;
}
#gmp-map {
    height: 90%;
}

