/* Reset de estilos padrão do navegador */
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: green;
  font-size: 120%; /* Aumenta o tamanho da fonte em 20% em relação ao tamanho padrão */
  font-weight: bold;
  
}
header img{
  border-radius: 1000px;
  padding: 5px;
  border: 1px solid #fff ;
  background-color: #fff;
}
header a{
  text-decoration: none;
  color: black;
  
}
header .nav a{
  border-radius: 10px;
  color: #fff;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
header .nav li{
  margin: 0 5px;
  border-radius: 5px;
  
}
header .nav a:hover{
  background-color: #f2f2f2;
  color: green;
}

/* Sumir */
.hide{
display:none !important;
}

.transicao{
opacity: 0;
transition: opacity 0.1s  ease-in-out;
}
.transicao.visible{
opacity: 1;
}
/* loader */
#loader-container{
display: flex;
justify-content: center;
align-items: center;
height: 90%;
}
#loader-container .loader{
border: 4px solid rgba(255, 255, 255, 0.3);
border-top: 4px solid #3498db; /* Cor da borda superior */
border-radius: 50%;
width: 40px;
height: 40px;
animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}


.centralizar{
  display: flex;
  justify-content: center;
}
.controller{
  display: flex;
  align-items: center;
}


.container-dashboard {
  display: flex;
  height: 100%;
}
/*infowindows*/
.container-infowindow{
width: 300px;
}

.container-infowindow h3{
text-align: center;
color: #2F8240;
background-color: #80e293;
padding: 10px;
border-radius: 5px;
}
.container-infowindow div{
padding: 10px;
background-color: #2F8240;
border: 1.5px solid black;
border-radius: 5px;
}
.container-infowindow p{
color: #fff;
font-size: larger;
font-weight: bold;
}
.container-infowindow b{
  color: #000;
}
.container-infowindow a{
font-size: large;
text-decoration: none;
color: rgb(84, 84, 221);
padding: 8px 15px;
background-color: #80e293;
border: 2px solid #000;
border-radius: 5px;
}

.container-infowindow p:has(a){
display: flex;
justify-content: end;
}

aside{
  flex: 1;
  padding: 10px;
  background-color: #054712;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: auto;
  color: aliceblue;
  font-family: 'DM Sans', sans-serif;
  height: 88vh;
}
aside h3{
  margin-bottom: 5px;
  margin-top: 15px;
}
aside::-webkit-scrollbar{
  width: 5px;
}
aside::-webkit-scrollbar-thumb{
  background-color: #80e293;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /* border: 3px solid orange;  creates padding around scroll thumb */
}
.container-img img{
  border-radius: 5px;
  margin-top: 1.5rem;
  width: 50%;
}
.input-aside{
  width: 95%;
  height: 1.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
}
#busca{
padding: 5px;
font-size: small;
font-weight: bold;
}
.controller button{
background-color: #054712;
border: 2px solid #fff;
border-radius: 10px;
outline: none;
padding: 5px;
width: 2rem;
margin: 0 10px;
font-weight: bold;
cursor: pointer;
}
.controller button i{
color: #fff;
}
.box-raio{
max-width: 50px;
min-width: 20px;
text-align: center;
padding: 5px 20px;
background-color: #80e293;
color: #054712;
border: 2px solid #fff;
font-weight: bold;
border-radius: 5px;
}
/* Estilizar o input radio como um quadrado */
input[type="radio"] {
appearance: none; /* Redefinir o estilo padrão do navegador */
-webkit-appearance: none; /* Para navegadores baseados em WebKit (como Chrome e Safari) */
-moz-appearance: none;
width: 20px; /* Largura da caixa de seleção */
height: 20px; /* Altura da caixa de seleção */
border: 2px solid #333; /* Cor da borda */
border-radius: 5px; /* Tornar o círculo um quadrado com cantos retos */
cursor: pointer; /* Mostrar cursor de mão ao passar o mouse */
}

/* Estilizar o input radio quando estiver marcado */
input[type="radio"]:checked {
background-color: #054712; /* Cor de fundo quando marcado */
border: 2px solid #fff;
}

label{
display: flex;
align-items: end;
font-weight: bold;
margin: 0 5px;
cursor: pointer;
}

.selecao-materiais{
  margin-top: 1rem;
  padding: 1rem;
  background-color: #3f9650;
  border-radius: 5px;
}
.selecao-materiais .controller{
  margin-top: 0.5rem;
}

aside span{
  font-size: 18px;
}
#enviarAside button{
  width: 80%;
  height: 3rem;
  margin-top:3rem;
  font-size: 18px;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

main{
  flex: 3;
}


/* Reset de estilos padrão do navegador */
body, ul {
  margin: 0;
  padding: 0;
  
}

/*estilizando a barra de rolagem*/
body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #011E11;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #12FF46;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

/* Estilizando a navbar */
.navbar {
  /* background-color: ;  */
  /* Cor de fundo da navbar */
  width: 100%
}

.navbar ul {
  list-style: none; /* Remover marcadores de lista */
  display: flex; /* Exibir os itens da lista em linha */
  justify-content: left; /* Colocar itens na direita  horizontalmente */
  padding: 1% 0; /* Espaçamento interno superior e inferior */
  font-family: 'All the Way to the Sun', sans-serif;
  font-size: 20px;           
}

.navbar li {
  margin: 0 10%; /* Espaçamento horizontal entre os itens da lista */
}

.navbar a {
  text-decoration: none; /* Remover sublinhado dos links */
  color: #12FF46; /* Cor do texto dos links */
  font-weight: bold; /* Estilo de fonte negrito */
}

#gmp-map{
  height: 88vh;
}