
/* Reset de estilos padrão do navegador */
body, ul {
    margin: 0;
    padding: 0;
    
  }
  
  /*estilizando a barra de rolagem*/
  body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #011E11;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #12FF46;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }
  
  /* Estilizando a navbar */
  .navbar {
    /* background-color: ;  */
    /* Cor de fundo da navbar */
    width: 100%
  }
  
  .navbar ul {
    list-style: none; /* Remover marcadores de lista */
    display: flex; /* Exibir os itens da lista em linha */
    justify-content: left; /* Colocar itens na direita  horizontalmente */
    padding: 1% 0; /* Espaçamento interno superior e inferior */
    font-family: 'All the Way to the Sun', sans-serif;
    font-size: 20px;
  }
  
  .navbar li {
    margin: 0 10%; /* Espaçamento horizontal entre os itens da lista */
  }
  
  .navbar a {
    text-decoration: none; /* Remover sublinhado dos links */
    color: #12FF46; /* Cor do texto dos links */
    font-weight: bold; /* Estilo de fonte negrito */
  }
  
  body{
    background-color: #011E11;
    width:100%
  }
  
  
  /*cards*/

  
 
  .carde{
    
    
    margin-left: 7.5%;
    margin-top: 5%;
    position: relative;
    width: 85%;
    height: 300px;
    color: #2e2d31;
    background: #6da15f;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 6%;
  } 

  

  .temporaryy_text {
    font-weight: bold;
    font-size: 26px;
    padding: 6px 12px;
    color: #f8f8f8;
   
  }
  
  .carde_title {
    font-weight: bold;
  }
  
  .carde_content {
    position: absolute;
    left: 0;
    bottom: 0;
      /* edit the width to fit card */
    width: 100%;
    padding: -1px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(150px);
    transition: transform .25s; 
    text-align: center;
  }
  
  .carde_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
  }
  
  .carde_title {
    color: #109638;
    line-height: 15px;
  }
  
  .carde_subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .carde_description {
    font-size: 17px;
    opacity: 0;
    transition: opacity .5s;
    text-align: center;

  }
  
  .carde:hover .carde_content {
    transform: translateY(0);
  }
  
  .carde:hover .carde_description {
    opacity: 1;
    transition-delay: .25s;
  }


  .materiais2{
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    width: 100;
    background-color: #6da15f;
  }
  
  

  .card  {
    width: 200px;
    height: 350px;
    background-image: linear-gradient(163deg, #00ffaa 0%, #5eff00 100%);
    border-radius: 20px;
    transition: all .3s;
    display: flex;
    /* float: left; */
    margin-left: 7.5% ;
    margin-top: 3%;
    text-align: center;
    color: white;
    box-shadow: 3px 3px 20px 2px #2e2d31;
    
   }


   h1{
    color: #90e4ac;
   }
   
   .card2 {
    width: 200px;
    height: 350px;
    background-color: #011E11;
    border-radius: 15px;
    padding: 0 10px;
    transition: all .2s;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }
  

   
  .cardz  {
    width: 200px;
    height: 350px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3cff00 100%);
    border-radius: 20px;
    transition: all .3s;
    display: flex;
    /* float: left; */
    margin-left: 7.5% ;
    margin-top: 3%;
    margin-bottom: 2.5%;
    text-align: center;
    color: white;
    box-shadow: 3px 3px 20px 2px #2e2d31;
   }

.par{
  margin-bottom: 45%;
}
   
   .cardz:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.3);
   }
  
  
   .button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
    margin-bottom: 2%;
    
   }
   
   .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
   }
   
   .button:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .button:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
  
  
  /*popup*/
  .popup {
    z-index: 100;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5d813d;
    color: white;
    font-size: 140%;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    overflow: auto;
    height: 50%;
    width: 50%;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


