/* Reset de estilos padrão do navegador */
body, ul {
  margin: 0;
  padding: 0;
  
}

header {
  background-color: green;
  font-size: 120%; /* Aumenta o tamanho da fonte em 20% em relação ao tamanho padrão */
  font-weight: bold;
  
}
header img{
  border-radius: 1000px;
  padding: 5px;
  border: 1px solid #fff ;
  background-color: #fff;
}
header a{
  text-decoration: none;
  color: black;
  
}
header .nav a{
  border-radius: 10px;
  color: #fff;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
header .nav li{
  margin: 0 5px;
  border-radius: 5px;
  
}
header .nav a:hover{
  background-color: #f2f2f2;
  color: green;
}
main {
  background-color: rgb(232, 252, 207);
}

body::-webkit-scrollbar {
  width: 8px;          
}

body::-webkit-scrollbar-track {
  background: transparent; 
}

body::-webkit-scrollbar-thumb {
  background-color: #8d8d8d;   
  border-radius: 20px;   
}
.cabecalho{
  margin: 15px 0;
  background-image: url('../img/logo.png');
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-color:  green;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #333;
  width: 85%;
}
.cabecalho p{
  color:#fff;
}
.container-sobre{
  display: flex;
  justify-content: center;  
}
.img-sobre{
  background-image: url('../img/sobre/fundo-txt.jpg');
  background-position: center;
  background-size: cover;
}
.corpo{
  display: flex;
  justify-content: space-around;
  margin: 100px 0;

}
.corpo div{
  max-width: 50%;
}

.corpo img{
  border-radius: 100px;
}

  h1{
    margin-top: 5%;
    color: #fff;
    font-size: 200%;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 3%;
  }

  h2{
    
    color:  black;
    font-size: xx-large;
    font-weight: bold;
    text-align: justify;
    font-family: 'DM Sans', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
  }

  p{
    color: rgb(7, 62, 25);
    font-size: large;
    font-weight: 600;
    text-align: justify;
    font-family: 'DM Sans', sans-serif;
    margin-left: 7%;
    margin-right: 5%;
  }

  li{
    font-family: 'DM Sans', sans-serif;
    margin-left: 9%;
    color: rgb(7, 62, 25);
    text-align: justify;
    font-size: 100%;
    margin-right: 5%;
    font-weight: 600;
  }

  .nav li {
    margin-right:1px; /* Reduza a margem direita entre os itens */
    margin-left:1px; /* Reduza a margem direita entre os itens */
  }


  .titulo{
    font-size: 120%;
    color: rgb(7, 62, 25);
    font-family:'DM Sans', sans-serif; 
  }

 
