:root{
    --green1: #628a4c;
    --green2: #76993D;
    --green3: #87B344;
    --green4: #AFBE6C;
    --green5: #C4E477;
}

.navbar{
    background-image: url('../img/imagem-fundo.avif');
    background-size: cover;
    padding: 2rem;
}
i{
    font-size: xx-large;
}
.nav-item{
    font-size: larger;
    font-weight: bold;
}
.nav-separar{
    display: flex;
    justify-content: space-between;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;    
}
footer{
    padding: 2rem;
    background-color: var(--green1);
}